.mcq {
    text-align: start;
    font-weight: bold;
    font-size: 20px;
}

.real {
    text-align: start;
    font-weight: bold;
    font-size: 20px;
}

.attempt {
    height: 120px;
    width: 210px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 15px;
    margin-right: 30px;
}

.attempts {
    font-weight: bold;
    font-size: 20px;
   
}

.attempt1 {
    height: 100px;
    width: 190px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 15px;
    margin-right: 20px;
}

.add {
    display: flex;
    flex-direction: row;
}

.action {
    text-align: start;
    margin-top: 50px;
    font-size: 30px;
}

.actions {
    text-align: start;
    height: 20vh;
    width: 70vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    
}
.donload{
    background-color: green;
    color: white;
    margin: 20px;
    margin-top: 5vh;
    border-radius: 10px;
    border-color: none;
    width: 200px;
    height: 50px;
}
.donload1{
    background-color: gray;
    color: white;
    margin: 20px;
    margin-top: 5vh;
    border-radius: 10px;
    border-color: none;
    width: 200px;
    height: 50px;
}
.donload2{
    background-color: blue;
    color: white;
    margin: 20px;
    margin-top: 5vh;
    border-radius: 10px;
    border-color: none;
    width: 200px;
    height: 50px;
}
.btn {
    margin-top: 20px;
    margin-left: 30px;
    color: white;
}

.table-container {
    width: 70%;
    overflow-x: scroll;
}

.view {
    background-color: #007bff;
   color: white;
   border-radius: 80px 80px 80px 80px;
   padding: 10px;

 
   
}

.assessmenteye {
    margin-left: 30vh;

}
.card-table-container{
    width: 1232px;
    height: 366px;
   margin-top: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000012;
    border-radius: 20px;
    overflow-x: scroll; 
}
.timeschedule{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.groupicon{
   background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}