/* .card213{
   
    margin-top: 5vh;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
  border: 1px solid rgb(217, 205, 205);
  background:white;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  color: black;
  cursor: pointer;

} */
.editor-container {
    height: 500px;  
  }
  .qustionlabel{
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
  }
  .star{
    font-size: 20px;
    color: red;
  }
  .qustionselection{
    width: 50vw;
    height: 4vh;
    border-radius: 10px;
    border-color:bisque;
  }
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
   
  .card213:hover {
    color:black;
    transition: color 1s;
  }
  .card213:hover:before, .card213:hover:after {
    animation: none;
    opacity: 0;
  }
  
/*   
  .card213::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #8dc3d2, #8493c3 43%, #a790ca);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card213::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #94cbda, #778ac3 43%, rgb(173, 153, 202));
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  } */
 
  

  
 
  
  .subjectcard {
padding: 50px;
border-radius: 10px;
    color: black;
    margin-top: 30px;
    /* background:
      url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
      center / cover no-repeat fixed; */
      background-image: linear-gradient(to top,rgb(108, 171, 108) ,lavender);
  }
  
  .card213 {
   
    max-width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
  .insert{
    background-color: purple;
    color: white;
    border-radius: 10px;
  padding:1vh;

  margin: 10px;
  }
  .choose{
    background-color: orange;
    color: white;
    border-color: orange;
    border-radius: 10px;
    padding:1vh;
  
    margin: 10px;
  }
 .deleteoption{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding:1vh;
  margin-left: 80vh;
   
 }
 .add{
    background-color: rgb(89, 127, 89);
    border-color: #00c48c;
    border-radius: 10px;
    color: white;
    padding: 5px;
    justify-content: center;
    height: 35px;
    /* margin-left: 50px; */
 }
  .create{
    background-color:blue;
    color: white;
    border-radius: 10px;
    padding:1vh;
    margin: 10px;
  }
.option12{
  width: 220px;
  border-color: rgb(177, 165, 165);
  border-radius: 10px;
  height: 50px;
}
.downloadbtn{
  background-color: orangered;
  border-radius: 10px;
  border-color: orangered;
  margin-left: 700px;
  padding: 10px;
  color: white;
}
.upload{
  margin-left: 70px;
  border-radius: 10px;
  background-color: purple;
  color: white;
  padding: 20px;
}
.c-dashboardInfo {
  margin-bottom: 15px;
}
.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 40px 25px 20px;
  height: 100%;
}
.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}
.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
}
.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}
.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}

.box
{
  width: fit-content;
  margin: 0 auto;
  margin-top: 2vh;
  padding: 2px;
  background-color: #d3b667; 
  background-size: 0 2px, 0 100%, 0% 2px;
  box-shadow: 1px solid black;
  background-position: top center, top center, bottom center;
  animation: drawBorderFromCenter 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}

.content
{
  background: white;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}
