.coursers {

    background-image: linear-gradient(lightyellow, lightblue, lightgray);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5vh;
    border-radius: 20px;
    margin-left: 400px;
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    height: 100vh;
    width: 50vw;
}

.input {
    width: 70vh;
    border-radius: 5px;
}

.ma {
    margin-left: 50vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgb(54, 54, 111);
    color: white;
    border-radius: 10px;
    height: 4vh;
    width: 9vh;
}

.creat12 {
    background-color: #a509de;
    color: white;
    border-radius: 10px;
    height: 4vh;
    width: 9vh;
    margin-top: 2vh;
}