.paticipationreport{
    margin-left: 300px;
    margin-top: 5vh;
}
.card-container3{
    text-align: start;
    padding: 1px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 0px 8px 24px hsla(0, 0%, 0%, .25);
    margin-left: 100px;
    width: 600px;
    height: 900px;
    padding: 50px;
    
}
.option{
    width: 500px;
    border-color: rgb(177, 165, 165);
    margin: 2vh;
}
.download{
    background-color:#a509de;
    color: white;
    border-radius: 10px;
   
    margin-left: 200px;
    margin-top: 5vh;
    width: 150px;
    height: 50px;
}
.paticipationimg{
    width: 30vw;
}