.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image{
  width: 10vw;
  height: 10vh;
  margin-bottom: 5vh;
  border-radius: 10px;
}
.card{
  top: 55px;
  left: 81px;
  width: 832px;
  height: 666px;
 margin-top: 80px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 50px;
  opacity: 1;
  padding-top: 10vh;
}
.card12 {
  width: 332px;
  height: 366px;
  border-color: white;
  background:white;
  border-radius: 50px;
  margin-bottom: 30px;
  padding-top: 50px;
 
}
.card123{
  width: 332px;
  height: 366px;
  border-color: white;
  background:white;
  border-radius: 50px;
padding-top: 13vh;
 
}
.label{
  font-size: large;
  font-weight: 10px;
  font-size: 20px;
  font-family: "bold";
}
.eye{

 /* margin-top: 30px;
  background: #ddcfcf;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 50px;
  padding-top: 10vh;
  padding-left: 20px;
margin-right: 50vh;
  display: flex;
  flex-direction: row; */
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  background-color: rgb(199, 199, 234);
  border-radius: 10px;
  padding: 30px;
}
.sri{
  display: flex;
  flex-direction: column;
}
.loginemail{
  color: black;
  font-weight: 600;
  padding-left: 20px;
font-size: larger;

}
.heading{
 font-weight: bold;
  margin-top: -120px;
  margin-left: 10px;
}
.loginforgot{
  margin-left: 50vh;
  font-size: 20px;
}
.emailicon{
  margin-left: 5vh;
  margin-top: 3vh;
  font-size: 6vh;
}
.uma{
  text-align: start;
  margin-left: 200px;
}
.logininput{
  margin-left: 20px;
  border-radius: 10px;
  height: 40px;
}
.image2{
 
  height: 300px;
  width: 300px;
  border-radius: 40px;
  
}
.img{
  background-color:rgb(247, 245, 245);
  width: 20vw;
  height: 32vh;
  margin-top: 30vh;
  margin-left: 20vh;
  box-shadow: 2px 2px 2px 2px solid rgb(240, 237, 237);
  border-radius: 10px;
  padding-top: 10px;
  border-color: white;
}
.loginbutton{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(20, 20, 85);
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-left: 80px;
  margin-right: 20px;
  width: 65%;
}
.checkbox{
  margin-left: 20px;
}
.container {
  display: flex;
}
.image1{
  width: 10vw;
  height: 10vh;
  margin-bottom: 5vh;
  border-radius: 10px;
  margin-top: 5vh;
}
.stact{
  text-align: start;
  margin-left: 25px;
  font-weight: bold;
}
.butn{
  margin-right: 40%;
  margin-top: 5vh;
  border-radius: 10px;
 background-color: white;
 border-color: white;
 border-radius: 20px;
padding-bottom: 600px;
box-shadow:0vh 0vh 1vh 1vh white;
}
.institu{
  font-size:40px;
  font-weight: bold;
}
.form-control{
  border-color: #c1b7b7;
  border-radius: 10px;
  width: 600px;
}
.form-control12{
  border-color: #c1b7b7;
  border-radius: 10px;
  width: 400px;
  height: 40px;
}
.form-control13{
  border-color: #c1b7b7;
  border-radius: 10px;
  width: 400px;
  height: 40px;

}
.modal-dialog1{
  max-width: 45%;
  /* background-color: lavender; */
  /* background-image: url("https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-53097.jpg"); */
background-size: cover;
background-image: url("https://wallpapers.com/images/hd/professional-background-2b3p57557lfg0y5g.jpg");
border-radius: 20px;
margin-top: 10vh;
padding: 3vh;
 margin-left: 55vh;
}
.modal-dialog{
  max-width: 53%;
border-radius: 20px;
padding: 3vh;

}
.aa{
  margin-right: 200px;
}
.button{
  background-color: white;
  border-radius: 10px;
  height: 6vh;
  width: 7vw;
  margin-top: 5vh;
  border-color: white;
  box-shadow: 0px 0px 2px whitesmoke;

}
.button:hover{
  background-color:darkblue;
  color: white;
}
.editicon{
  color: #282c34;
}
.fa-eye{
  color: #282c34;
  
}
.button1{
  background-color:darkblue;
  color: white;
  border-radius: 10px;
  height: 6vh;
  width: 7vw;
  margin-top: 5vh;
  border-color:darkblue;
  box-shadow: 0px 0px 2px whitesmoke;

}
.admin {
   background-color: lavender; 
  height: 86vh;
  margin-left: 300px;
  margin-top: 5vh;
  border-radius: 10px;
  width: 80vw;
  box-shadow: #f2f2f2;
  padding: 5vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
}

.table th, .table td {
  border: 1px solid #a8a4a4;
  padding: 8px;
  text-align: left;
}
.table td{
  font-size: 22px;
}

.table th {
  background-color: #615880;
  color: rgb(246, 241, 241);
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.creat{
  margin-left: 120vh;
  background-color: white;
  border-color: white;
  border-radius: 10px;
}
.error {
  color: red;
  font-size: 20px;
  
}
.profilecard1{
  top: 55px;
  left: 81px;
  width: 832px;
  height: 666px;
 margin-top: 80px;
  /* UI Properties */
  background: #e9e6e6 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #ed626212;
  border-radius: 50px;
  opacity: 1;
  padding-top: 10vh; 
}
/* .password-toggle {
  position: absolute;
  transform: translateX(-105%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
 margin-right:10%;
  font-size: 1rem;
} */
.input-container {
  position: relative;
}

.logininput1 {
  /* Your input field styles */
  padding-right: 30px; /* Provide enough space for the icon */
}
.profilebutton{
  background-color: midnightblue;
  color: white;
}
.password-toggle {
  position: absolute;
  top: 50%;
  /* Adjust the right position as needed */
  transform: translateY(-50%);
  transform: translateX(-100%);
  cursor: pointer;
  margin-left: 75vh;

  /* Additional styling for the icon */
}

.profilename{
justify-content: start;
font-size: 18px;
font-weight: bold;
}
#sort-order {
  font-size: 16px; /* Adjust the font size as needed */
  width: 750px; /* Adjust the width of the select box as needed */
  padding: 5px; /* Add padding to the select box as needed */
  margin: 10px 0;
  border-radius: 10px;
  border-color: white; /* Add margin as needed */
}

#sort-order option {
  font-size: 16px; /* Adjust the font size of the options as needed */
}
.option{
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 15vh;
  height: 5vh;
  margin-right: 10vh;
}
.logininput1{
  width: 750px;
  border-radius: 10px;
  border-color: white;
}
.edit{
margin-left: 52%;


}
.material-symbols-outlined{
  font-size: 32px;
}
.A{
  display: flex;
  justify-content: space-around;
  margin: 0px;
}
.Pa{
width: 950px;
  border-color: white;
  background:white;

  border-radius: 50px;
margin-left: 30px;
padding: 30px;
}
.filter{
  text-align: start;
}
.aaa{
  margin-right: 50px;
}
.span{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
}
.reset{
  background-color: #615880;
  color: white;
  border-color: #615880;
  border-radius: 10px;
  margin-top: 20px;
}
.filterbutton{
  border-color: white;
  background-color: white;
  border-radius: 10px;
  margin-right: 10vh;
  height: 50px;
  width: 150px;
}
/* assement */
.creat1{
  background-color: #4c3b88;
  height: 5vh;
  width: 10vw;
  color: white;
  border-radius: 10px;
  border-color:#4c3b88;
  margin: 5vh;
}
.assement{
font-size: 30px;
font-weight: bold;
margin-right: 100vh;
margin-top: 5vh;
}
.card21{
 background:#ede1f4 ;
  margin-top: 5vh;
  border-radius: 10px;
  padding: 20px;
  height: 90vh;
margin-left: 30vh;
}
.seach{
  margin-left: 102vh;
  font-size: 20px;
}
.category{
  width: 40vw;
}
.show{
  width: 80PX;
}
.showname{
  font-size: 25px;
  font-weight: bold;
}
.input1{
  border-radius: 5px;
  border-color: grey;
}
.showoption{
  font-size: 18px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .ram{
  background-image:linear-gradient(lightblue,lightgray,rgb(174, 224, 174),lavender);
  width: 50vw;
  margin-top: 5vh;
  margin-left: 300px;
  border-radius: 20px;
 
} 
.modal-dialog99{
  padding-left: 2vh;
  padding-top: 5vh;
  padding-right: 15vh;
}
.ravi{
  font-size: 20px;
}
.profilename1{
  justify-content: start;
font-size: 18px;
font-weight: bold;
margin-top: 3vh;
}
/* navbar */
.navbar {
  background-color: #060b26;
  height: 900px;
  width: 300px;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 4vh;
  border-radius: 10px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  height: 900px;
  width: 300px;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  margin-top: 4vh;
  border-radius: 10px;
  transition: 850ms ease-out;
}

.nav-menu.active {
  left: 0;
  transition: 350ms ease-out;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: 200ms ease;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.dashborcard{
  margin-top: 3vh;
  margin-left: 300px;
 height: 100vh;
background-image: linear-gradient(lightblue,lavender,grey);
border-radius: 10px;
padding-right: 50vh;
}
.bashbordname{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dashbordheading{
  text-align: start;
  font-size: 25px;
  color:#4c3b88;
  padding: 2vh;
}
.seachbut{
  color: white;
  background-color: darkorchid;
}
.dashbord {
background-color: white;
border-color: white;
border-radius: 10px;
box-shadow: 2px 2px 2px whitesmoke;
padding: 10px;
}
.dashbord:hover{

  background-color: darkslategray;
}




